stanford-corenlp-full-2018-10-05/*
*.DS_Store
venv/*

*.pyc

valanceModel/amazonRawData
valanceModel/amazon_sentenceTuples/

valanceModel/DrewUtil.py

valanceModel/amazon_counts/

valanceModel/__pycache__/*
