stanford-corenlp-full-2018-10-05/*
*.DS_Store
venv/*

*.pyc

valanceModel/aclImdb/

valanceModel/amazonRawData
valanceModel/amazon_sentenceTuples/
valanceModel/amazon_counts/

valanceModel/DrewUtil.py


valanceModel/__pycache__/*
