stanford-corenlp-full-2018-10-05/*
*.DS_Store
venv/*

*.pyc

valanceModel/amazonRawData
valanceModel/amazon_sentenceTuples/
valanceModel/evan_amaz_sentTuples.tar.gz

valanceModel/DrewUtil.py

valanceModel/amazon_counts/trainCounts_cats_amazon.pkl
